




$main-color:#3d2514;
$black:#222;
$white:#fff;
$light-color:#666;
$light-bg:#eee;
$border:0.1rem solid $main-color;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);


*
{
    padding: 0rem; margin: 0rem;
    box-sizing: border-box;
    // border: none; outline: none;
    text-decoration: none;
    transition: all .2s linear;
}
img
{
    width: 100%;
}
.padd
{
    padding:.5rem 5rem;
}
header
{
    width: 100%;
    left: 0%; top: 0;
    position: fixed;
   background: rgb(173, 169, 185);
   margin-top: 2rem;
    


    .nav1
    {
       
        display: flex;
        width: 100%;
        align-items: center;

        .img
        {
            width: 100%;
           

            img 
            {
                width: 25%;
                min-width: 100px;
            }
            
        }

        .content
        {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: right;

            img
            {
                width: 3.58%;
                min-width: 25px;
                margin-right: .5rem;
               

               
            }
            h2 
            {
                font-size: 1rem;
               
            }
        }
    }

    .nav
    {
        width: 100%;
        ul
        {
            // width: 30%;
          display: flex;
          justify-content: end;

            a 
            {
                margin-left: 4%;
                font-size: .95rem;
                text-transform: uppercase;
                color: $black;
                display:inline-block;
                font-weight: bold;
            }
        }
    }
    
}



.contact-title
{
    text-align: center;
    margin-top: 7.5rem;
}


.contact-form
{
    text-align: center;
    margin-top: 2rem;
    width: 600px;
    background: rgb(221, 218, 218);
    margin: 2rem auto;
    padding: 2rem ;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);

    .form-control
    {
        width: 100%;
        margin: .5rem 0;
        padding: 1rem;
    }
}










@media (max-width:1400px)
{
    html 
    {
        font-size: 0.8rem;
        
    }
    .padd
    {
        padding:1rem 3rem;
    }
}

@media (max-width:1200px)
{
    html 
    {
        font-size: 0.8rem;
        
    }
    .padd
    {
        padding:1rem 3rem;
    }
}

@media (max-width:991px)
{
    html 
    {
        font-size: 0.7rem;
        
    }
    .padd
    {
        padding:1rem 2rem;
    }
}


@media (max-width:768px)
{
    html 
    {
        font-size: 0.6rem;
        
    }
    .padd
    {
        padding:1rem 1.5rem;
    }
}






@media (max-width:450px)
{
    html 
    {
        font-size: 0.55rem;
        
    }
    .padd
    {
        padding:1rem;
    }
}